!!! 5
html(lang="en")
  head
    link(rel="stylesheet", href="/css/main.css")
    title Cloudvibe
  body
    #header
      img(src="/img/header_logo_beta.png")
    #main
      #artists.column
        h4.light Artist
        ul
          - each artist in artists
            li= artist
      #song.column
        h4.light Song
        ul
          - each title in titles
            li= title
      #container!= body
