!!! 5
html(lang="en")
  head
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/datatable.css")
    title Cloudvibe
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
    script(src="/js/dataTable.js")
    script(src="/js/jeditable.js")
  body
    #header
      img(src="/img/cloudvibe_medium.png")
    #main
      #artists.column
        h4.light Artist
        ul
          - each artist in artists
            li.artist= artist
      #container!= body
