!!! 5
html(lang="en")
  head
    link(rel="stylesheet", href="/css/landing.css")
    title Cloudvibe
  body
    #home
      img(src="/img/cloudvibe.png")
      h1 Backup, manage, and sync your music collection
      a(href="/signup")
        img(src="/img/signup.png")
      :markdown
        or [login](/login) if you already have an account
